body{
  text-align: center;
  background-color: rgb(243, 243, 243);
}
.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap{
  flex: 1;
}

a{
  color:black;

}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  margin-left:40%;
  margin-right:40%;
  margin-bottom: 20px;
  border: 1px solid #dedede;
  padding: 10px;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px;
  background-color: #928d97;
  border: 1px solid #331550;
  cursor: pointer;
  box-sizing: border-box;
}

.comment {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.voting {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.upvote {
  background-color: #073525;
  border: 1px solid #073525;
  margin-right: 10px;
}

.downvote {
  background-color: #FF0026;
  border: 1px solid #FF0026;
}

.author-image{
  height:100px;
}
.blog{
  margin-top:10%;
  border-bottom: 1px solid #ccc;

}
.post {
text-align: justify;
margin-left: 16%;
margin-right:16%;
background-color: white;

}
.author{
  text-align:center;
  margin-left: 30%;
  margin-right:30%;
}

.p-image{
  max-height:100%;
  display:block;
  float:left;

}
.p-sumamry{
  display:block;
}
.p-title{
  text-align:center;
}
.post-snippet{
  margin-top:5%;
  margin-left:20%;
  margin-right:20%;
  height:200px;
  border: 2px solid #dedede85;
  display:block;
  background-color: white;


}

.article-container{
  margin-left:20%;
  margin-right:20%;
  margin-top:5%;
}

.error-notice{
  color:red;
}
.error-button{
  background:url(xbutton.jpg) no-repeat;
  cursor:pointer;
  border:none;
  width:70px;
  height:100px;
}