body {
  text-align: center;
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}

a {
  color: black;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input, textarea {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 20px;
  border: 1px solid #dedede;
  padding: 10px;
}

.comment {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.title {
  color: black;
}

.error-notice {
  color: red;
}

.error-button {
  background: url(xbutton.jpg) no-repeat;
  cursor: pointer;
  border: none;
  width: 70px;
  height: 100px;
}

.login-btn {
  margin-top: 10px;
}