.flex-container {
  border: 2px;
  border-radius: solid white 3px;
  display: flex;
}

.video-array {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videos {
  margin: 10px;
  border-radius: 15%;
}

.register {
  margin-top: 2%;
  text-align: center;
}

.login-btn {
  margin-top: 10px;
}

.react-Button {
  background-color: grey;
  color: red;
  height: 50px;
  width: 20%;
}

h1 {
  font-size: 50px;
}

.introJumbotron {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Playfair Display', serif;
  color: white;
  text-align: center;
  padding-right: 33.3%;
  padding-left: 33.3%;
  font-size: 20px;
  margin: auto;
}

.react-Button {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  font-family: 'Playfair Display', serif;
  color: white;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.react-Button span {
  position: relative;
  z-index: 1;
}

.react-Button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #9793ab;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.react-Button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px;
}

.login {
  text-align: center;
}

.danger {
  color: red;
  font-size: 30px;
  border-color: red;
  text-align: center;
}
.about-h{
  text-align:center;
  
}