.video-container{
    border: 2px;
    border-radius: solid white 3px;
    display: flex;
}
.video{
    flex-direction: row;
}
.register{
<<<<<<< HEAD
    margin-top:7%
}

.video-container{
    background-color: brown;
    border-radius: 50%;
    padding: 1px;
    border: solid black 10px;

}

.video-array{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
=======
    margin-top:2%
}
.login-btn {
    margin-top: 10px;
  }

  .danger{
    color:red;
  }
.error-notice {
    color: red;
  }
  
  .error-button {
    background: url(../img/xbutton.jpg) no-repeat;
    cursor: pointer;
    border: none;
    width: 70px;
    height: 100px;
  }
  
>>>>>>> 1e99018001452d5daf8b9cf2c3f253d0f3103278
